{
    "include": [
        "./manifest.json"
    ],
    "config": {
        "ssid": "YOUR_WIFI_SSID",
        "password": "YOUR_WIFI_PASSWORD",
        "tts": {
            "type": "voicevox",
            "host": "192.168.x.x",
            "port": 50021
        },
        "driver": {
            "type": "pwm",
            "pwmPan": 33,
            "pwmTilt": 32
        },
        "ai": {
            "token": "YOUR_OPENAI_API_KEY",
            "openclaw_url": "http://YOUR_OPENCLAW_HOST:PORT/v1/chat/completions",
            "openclaw_key": "YOUR_OPENCLAW_API_KEY",
            "openclaw_model": "YOUR_MODEL_NAME"
        }
    }
}
